on:
  push:
    branches:
      - 'feature/**'

jobs:
  open-pull-request:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: pull-request
      uses: repo-sync/pull-request@v2
      with:
        ref: my-branch
        destination_branch: "development"
        pr_title: "Pull Request from ${{github.ref_name}} into development by ${{github.actor}}"
        pr_body: |                                    
          :crown: *Pull Request criado automaticamente*

          Faça as revisões necessárias e em seguida realize o merge.