on:
  push:
    branches:
      - 'feature/*'

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
    - name: GitHub Pull Request Action
      uses: repo-sync/pull-request@v2.12.1
    - uses: actions/checkout@v3
    - name: pull-request
      uses: repo-sync/pull-request@v2
      with:
        destination_branch: "development"