on:
  push:
    branches:
      - 'feature/**'

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: pull-request
      uses: repo-sync/pull-request@v2
      with:
        ref: my-branch
        destination_branch: "development"
        pr_title: "Pulling $GITHUB_ACTION_REPOSITORY into development by ${{ github.actor }}"
        pr_body: |                                    
          :crown: *An automated PR*
          - Updated with *today's* date
          ${{ github.workflow }}
          ${{ github.run.id }}
          ${{ github.run.number }}
          ${{ github.action }}
          ${{ github.actions }}
          ${{ github.actor }}
          ${{ github.repository }}
          ${{ github.event.name }}
          ${{ github.event.path }}
          ${{ github.workspace }}
          ${{ github.sha }}
          ${{ github.ref }}
          ${{ github.head.ref }}
          ${{ github.base.ref }}
          ${{ github.server.url }}
          ${{ github.api.url }}
          ${{ github.graphql.url }}